#calculator {
    max-width: 60%;
    margin: auto;
}

#calculator-display {
    background-color: #EFE6DD;
}

.calculator-display-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.calculator-button-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.calculator-button-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calculator-button-number {
    background-color: #779CAB;
}
.calculator-button-operator {
    background-color: #627C85;
}
.calculator-button-main {
    background-color: #A2E8DD;
}